body {

}

#header {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    
    background-color: #ddddff;
    border-bottom: 1px solid black;
    
}

#login-form {
    margin: 15px 110px 5px 0px;
    text-align: right;
}

#navigation {
    margin-top: 15px;
    text-align: right;
}

#navigation ul li {
    display: inline;
    padding: 0 110px 5px 0;
}

#action {
    position: absolute;
    top: 51px;
    bottom:0;
    left: 0;
    width: 300px;
    
    background-color: #ffffdd;
    border-right: 1px solid black;
}

#action #profile {
    margin: 20px;
}
#action #changelog{
    margin: 10px;
    font-size: smaller;

}

#main {
    position: absolute;
    top: 51px;
    bottom:0;
    left: 300px;
    right: 0;
    
    overflow: auto;
}

#main #unchecked,
#main #upcoming {
    margin: 20px;
    clear: both;
}

#unchecked .session,
#upcoming .session {
    float: left;
    height: 200px;
    width: 140px;
    margin: 0 20px 20px 0;
    padding: 0 5px 0;
    
    font-size: smaller;
    border: dashed 1px gray;
    
    overflow: hidden;
}
#unchecked .session p,
#upcoming .session p {
margin: 5px 0 5px;
}
#calendar {
    margin: 5px;
}
#calendar .week {
    clear: both;
    display: inline;
}
#calendar .day {
    float:left;
    border: dashed 1px black;
    height: 180px;
    width: 120px;
    margin: 5px;
    
    font-size: smaller;
}

#calendar .day p {
    text-align: center;
    margin: 5px 0 2px;
    height: 20px;
}
#calendar .session {
    height:50px;
    border-top: dashed 1px black;
    padding: 0 2px 0;
}

#calendar .set {
}

#calendar .red {
    background-color: #dd9999;
}

#calendar .yellow {
    background-color: #dddd33;
}

#calendar .green {
    background-color: #aaddaa;
}

#calendar .gray {
    background-color: #cccccc;
}
